<!DOCTYPE HTML>
<html>
<title> DATA COLLECTOR </title>
<head>
	<link href="C:/Users/91771/Desktop/Python- Prog/App 9- Storing Data from Website/static/main.css" rel="stylesheet">

</head>
<body>

<div class="container">

<h1> Collecting Data </h1>
<h3>Please fill in data to get Avg Height based on the number of inputs.</h3>



<form action="{{url_for('success')}}" method="POST">
<input title="Your email will be safe with us." placeholder="abcxyz@xyz.com" type="e-mail" name="emailname" required>
<br><br>

<input title="Enter your height in CM" placeholder="155" type="number" min="50" max="300" step="0.1" name="heightname" required>
<br><br><br>


<button type="submit" > SUBMIT DATA</button
</form>

</div>

</body>



</html>